@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
#artists .artist-name[data-v-74c424d0]:not(:last-child)::after {
  content: ', ';
}
.q-img[data-v-74c424d0] {
  border-radius: 4px;
}

/* Styling to keep the layout neat */
.q-table[data-v-6cd81aa5] {
  max-height: 50vh;
  overflow-y: auto;
}

.body--light .like-btn[data-v-180fb008] {
  color: #f44747;
}
.body--dark .like-btn[data-v-180fb008] {
  color: #f44747;
}
.body--dark .play-btn[data-v-180fb008] {
  background-color: #2bbac5;
}
.body--light .play-btn[data-v-180fb008] {
  background-color: #2bbac5;
}
.body--light .album-page-body[data-v-180fb008] {
  background-color: rgba(223, 223, 223, 0.4);
}
.body--dark .album-page-body[data-v-180fb008] {
  background-color: rgba(0, 0, 0, 0.4);
}