@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
.body--light .appbar[data-v-7a76c21d] {
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(27, 27, 27, 0.5);
}
.body--light .appbar .q-btn[data-v-7a76c21d] {
  color: #1b1b1b;
}
.body--dark .appbar[data-v-7a76c21d] {
  background-color: rgba(27, 27, 27, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#artists .artist-name[data-v-4990a40a]:not(:last-child)::after {
  content: ', ';
}
#artists .artist-name[data-v-4990a40a] {
  cursor: pointer;
}
#artists .artist-name[data-v-4990a40a]:hover {
  text-decoration: underline;
}

.progress-smooth[data-v-c653850a] {
  transition: width 0.1s linear;
}

.body--dark .toolbar[data-v-5af97ec2] {
  background-color: #21252B;
  color: white;
}
.body--light .toolbar[data-v-5af97ec2] {
  background-color: white;
  color: black;
}