
.border-sharp[data-v-3a1fa496] {
  border-radius: 0px !important;
}
.border[data-v-3a1fa496] {
  border: 1px solid !important;
}
.border-black-tp50[data-v-3a1fa496] {
  border-color: rgba(255, 255, 255, 0.50) !important;
}

