
.card[data-v-dfd15650] {
  transition: box-shadow, background-color, 0.5s;
}
.card[data-v-dfd15650]:hover {
  box-shadow: 0 3px 5px -1px rgba(255, 255, 255, 0.2), 0 5px 8px rgba(255, 255, 255, 0.14), 0 1px 14px rgba(255, 255, 255, 0.12);
  background-color: rgba(42, 42, 42, 0.44) !important;
  /*border: solid 1px rgba(87, 87, 87, 0.55);*/
}

.border[data-v-a179e83e] {
  border: 1px solid !important;
}
