// app global css in SCSS form

// -- Change input validation error color
.q-input .text-negative
{
  color: #ff5c6c !important
}
.q-field--error .q-field__bottom
{
  color: #ff5c6c !important;
}
// --

// -- Dialog backdrop blur
.q-dialog__backdrop
{
  backdrop-filter: blur(7px);
}

.disabled, .disabled *{
  cursor: auto !important;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: transparent;
  z-index: 12;
  overflow: visible;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #c1c1c1;
  z-index: 12;
  border: 6px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  transition: background-color .32s ease-in-out;
  min-height: 2px;
  min-width: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}

.border-bottom-thin {
  border-bottom: gray 1px solid !important;
}

.border {
  border: 1px solid !important;
}

.border-white {
  border-color: white;
}

.page-section-blur {
  backdrop-filter: blur(100px) !important;
  background-color: rgba(0,0,0,0.25) !important;
}
